[package]
name = "kovi"
version = "2025.12.0"
edition = "2024"
description = "A OneBot V11 bot plugin framework"
documentation = "https://thricecola.github.io/kovi-doc/"
readme = "README_Cargo.md"
repository = "https://github.com/thricecola/Kovi"
license = "MPL-2.0"
keywords = ["framework", "kovi", "onebot"]

[lib]
name = "kovi"
path = "src/lib.rs"

[dependencies]
ahash = "0.8"
chrono = "0.4"
croner = "2"
dialoguer = { version = "0.11", features = ["fuzzy-select"] }
env_logger = { version = "0.11", default-features = false, features = [
  "auto-color",
  "color",
], optional = true }
futures-util = "0.3"
http = "1"
kovi-macros = { version = "0.5" }
log = "0.4"
parking_lot = "0.12"
rand = "0.9"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "2"
tokio = { version = "1", features = ["full", "windows-sys"] }
tokio-tungstenite = "0.26"
toml = "0.8"
toml_edit = "0.22"

[features]
cqstring = []
default = ["logger", "plugin-access-control", "save_bot_status"]
logger = ["env_logger"]
native-tls-vendored = ["tokio-tungstenite/native-tls-vendored"]
plugin-access-control = []
rustls-tls-native-roots = ["tokio-tungstenite/rustls-tls-native-roots"]
rustls-tls-webpki-roots = ["tokio-tungstenite/rustls-tls-webpki-roots"]
save_bot_admin = []
save_bot_status = ["save_bot_admin", "save_plugin_status"]
save_plugin_status = []


[package.metadata]
rust-version = "nightly"
